* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(43, 43, 155);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 60%;
    height: auto;
    background-color: white;
    border-radius: 30px;
}

#timer {
    width: 100%;
    font-size: 70px;
    text-align: center;
    margin: 0 auto;
    padding: 35px;
}

.buttons {
    text-align: center;
    margin-top: 40px;
}

button {
    margin: 0 10px;
    border: none;
    font-size: 30px;
    padding-bottom: 30px;
}

button i {
    padding: 10px;
    color: white;
    border-radius: 5px;
}

#play {
    background-color: green;
}

#pause {
    background-color: orange;
}

#reset {
    background-color: red;
}